body {
  font-family: 'Amatic SC', cursive;
  font-size: 18px;
  background: #f4f4f4;
  color: #d5d5d5;
}

/* GENERIC STYLES */

h1 {
  font-size: 3em;
  color: #6D7993;
  margin: .25em;
}
h1, h2 {
  text-align: center;
}
h2 {
  font-size: 2.5em;
}
ul {
  list-style-type: none;
  padding: 0;
}
button {
  border: 1px solid #6D7993;
  padding: 5px;
  border-radius: 4px;
  margin-bottom: 15px;
  margin-top: 10px;
  background: none;
}
label {
  display: block;
}
img {
  align-self: center;
  max-height: 300px;
  max-width: 100%;
  border: .2em solid #9099A2;
  border-radius: 3px;
}

.container-main {
  display: grid;
  height: 100vh;
}

.clicker-app {
  display: grid; 
  grid-template-columns: 1fr 3fr;
  padding: 2em;
  background: #6D7993;
}

.cat-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 2.5em;
  background: #d5d5d5;
}

.cat-nav li {
  text-align: center;
  cursor: pointer;
  color: #6D7993;
}

.cat-nav li:hover::before,
.cat-nav li:hover::after {
  font-family: 'Material Icons';
  content: '\E91D';
  color: #96858F;
  font-size: .5em;
}

.cat-main-view {
  display: flex;
  justify-content: center;
}

.admin-area {
  display: grid; 
  padding: 2em;
  grid-template-columns: 1fr 1fr 1fr;
}