body {
    font-family: 'Amatic SC', cursive;
    font-size: 18px;
}

/* GENERIC STYLES */
h1, h2 {
    text-align: center;
}
h2 {
    font-size: 2.5em;
}
ul {
    list-style-type: none;
    padding: 0;
}
img {
    max-width: 250px;
    margin: 0 auto;
    border-radius: 5px; 
    border: 2px solid black;
    cursor: pointer;
}
button {
    margin: 5px;
    margin-left: 0;
    display: block;
}

label {
    display: block;
    font-weight: bold;
}

.active-button {
    background: green;
}

/* MAIN CONTAINERS  */
.container-main {
    max-width: 80%;
    margin: auto;
}

.clicker-app {
    display: flex;
}

/* MAIN VIEW  */
.cat-main-view {
    margin: auto;
}
.cat-main-view h2 {
    margin: 0;
}

/* SIDEBAR */

.cat-nav {
    list-style-type: none;
    cursor: pointer;
}
.cat-nav li {
    font-size: 2.5em;
}
.cat-nav li:hover {
    color: purple;
    font-weight: bold;
}

 /* ADMIN */
.update-form, .add-form {
    display: none;
}
.cat-change div {
    padding-bottom: .5em;
}
